<!DOCTYPE html>
<html>
<head>
	<title>Index</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<h3>Users Generator</h3>
	<p>Пользователи созданы!</p>
	<a href="/list">Посмотреть список</a>
</body>

</html>